# Build outputs
dist/
out/
build/
release/

# Node modules
node_modules/

# Executables
*.exe
*.msi
*.dmg
*.app
*.asar

# Environment files
.env
.env.local

# Cache
.cache/
temp/
tmp/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# User Data
todo.json
package copy.json